# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# User / IDE files
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# Secrets (IMPORTANT)
# =========================
appsettings.Development.json

# =========================
# Publish / Deploy
# =========================
publish/
wwwroot/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db